
@{
   
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->

    <link href="@Url.Content("~/Theme/plugins/fontawesome-free/css/all.css")" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->

    <link href="@Url.Content("~/Theme/plugins/icheck-bootstrap/icheck-bootstrap.min.css")" rel="stylesheet" />
    <!-- Theme style -->


    <link href="@Url.Content("~/Theme/dist/css/adminlte.min.css")" rel="stylesheet" />
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
 @*   <link href="@Url.Content("~/Theme/plugins/jquery-toast/dist/jquery.toast.min.css")" rel="stylesheet" />*@
    <link href="@Url.Content("~/Theme/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Theme/plugins/select2/css/select2.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Theme/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css")" rel="stylesheet" />

    <style>
        .loader {
            border: 4px solid #f3f3f3; /* Light grey */
            border-top: 4px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 30px;
            height: 30px;
            animation: spin 2s linear infinite;
            display: inline-block;
        }

        @@keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        label.error, span.field-validation-error {
            color: red;
        }

        input.error.input-validation-error {
            border: 1px solid red;
        }
    </style>
</head>
<body class="hold-transition @ViewBag.LayoutClass">
    @RenderBody()

    <script src="@Url.Content("~/Scripts/jquery-3.4.1.js")"></script>
    @*<script src="@Url.Content("~/Theme/plugins/jquery-validation/jquery.validate.min.js")"></script>*@
    <script src="@Url.Content("~/Theme/plugins/jquery-validation/additional-methods.min.js")"></script>
    @*<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>*@
    <!-- Bootstrap 4 -->
    <script src="@Url.Content("~/Theme/plugins/bootstrap/js/bootstrap.bundle.min.js")"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/Theme/dist/js/adminlte.min.js")"></script>
    @*<script src="@Url.Content("~/Theme/plugins/jquery-toast/dist/jquery.toast.min.js")"></script>*@
   <script src="@Url.Content("~/Theme/plugins/bootbox/bootbox.min.js")"></script>
    <script src="@Url.Content("~/Theme/plugins/datatables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Theme/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/Theme/plugins/select2/js/select2.full.min.js")"></script>
@*    <script src="@Url.Content("~/Scripts/jquery.signalR-2.4.1.min.js")"></script>*@
  @*  <script src="@Url.Content("~/signalr/hubs")"></script>*@

    <script>


        function isNullOrEmpty(s) {
            return (s == null || s === "");
        }

        function readURL(input) {
            var id = $(input).attr("data-src");
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $(id).attr("src", e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }

        function Notify(message, position = "top-right") {
            var theme = "";
            if (message.MessageType == "Success") {
                theme = "bg-green";
            } else if (message.MessageType == "Error") {
                theme = "bg-red";
            } else if (message.MessageType == "Warning") {
                theme = "bg-orange";
            } else if (message.MessageType == "Info") {
                theme = "bg-blue-alt";
            }

            $.toast({
                heading: message.MessageType,
                text: message.Description,
                showHideTransition: 'plain',
                icon: message.MessageType.toLowerCase(),
                position: 'bottom-right',
            });

        }



        $(function () {

            $('.datatable').dataTable({ responsive: true });
            $('[data-toggle="tooltip"]').tooltip();
            $('.dataTables_filter input').attr("placeholder", "Search...");
            $(".select2").select2();
        });


        var identifier = '@ViewBag.Identifier';
        var notification = $.connection.chatHub;
        console.log(notification);

        $.connection.hub.qs = { 'connectionIdentifier': identifier };
        notification.client.Notify = function (message) {
            if (message.IsAjaxMessage) {
                Notify(message);
            }
        };

        $.connection.hub.start().done(function () {
            console.log("connection established");
        });


    </script>

    @if (ViewBag.NotificationMessage != null)
    {
        <script>
        $(function () {
            var message = @(Html.Raw(Json.Encode(ViewBag.NotificationMessage)));
            if (message.IsViewMessage) {
                Notify(message);
            }
        });
        </script>
    }
    @if (TempData["NotificationMessage"] != null)
    {
        <script>
        $(function () {
            var message = @(Html.Raw(Json.Encode(TempData["NotificationMessage"])));
            if (message.IsRedirectMessage) {
                Notify(message);
            }
        });
        </script>
    }

    @RenderSection("scripts", false)

</body>
</html>

