@using TicketManagementSystem.Models
@model TicketManagementSystem.ViewModels.UserListViewModel
@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!-- Main content -->
<section class="content" style="margin-top:15px">
    <div class="container-fluid">

        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="card-title">Support Ticket - Users</h3>
                        <div class="float-right">
                            <button type="button" class="btn btn-success" data-toggle="collapse" data-target="#filter-panel">
                                <span class="fa fa-filter"></span>
                            </button>
                            <a href="@Url.Action("AddUser", "User")" role="button" id="AddUser" class="btn btn-primary">
                                <span class="fa fa-plus"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="filter-panel" class="collapse filter-panel">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form role="form">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input type="text" class="form-control input-sm" name="FirstName" placeholder="FirstName">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input type="text" class="form-control input-sm" name="LastName" placeholder="FirstName">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">

                                                <input type="text" class="form-control input-sm" name="Email" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>&nbsp;</label>
                                                <button type="submit" class="btn btn-primary filter-col">
                                                    <span class="glyphicon glyphicon-record"></span> Search
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>




            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-bordered table-striped datatable">
                    <thead>
                        <tr>
                            <th>FirstName</th>
                            <th>LastName</th>
                            <th>Email</th>
                          
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.Users)
                        {
                            <tr>
                                <td>@user.FirstName</td>
                                <td>@user.LastName</td>
                                <td>@user.Email</td>
                             
                                <td>
                                  
                                        @*<a href="@Url.Action("AddUser", "User"><i class="fa fa-edit text-default"></i></a>
                                        <a href="#" data-id="" class="deleteUserBtn"><i class="fa fa-trash text-danger"></i></a>
                                        <a href="#" data-id="" class="blockUserBtn"><i class="fa fa-ban @(user.InActive ? "text-danger" : "text-secondaary")" aria-hidden="true"></i></a>*@
                                  
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->


@*{
    <script>
        var y;
        $(".deleteUserB@section scripts
tn").click(function() {
            var id = $(this).data("id");
            bootbox.confirm("Are you sure you want to delete this user ?",
                function(result) {
                    if (result) {
                        $.post("@Url.Action("DeleteUser", "User")",
                            { UserId: id },
                            function(resp) {
                                window.location.reload();
                            });

                    }

                });
        });


        $(".blockUserBtn").click(function() {
            var id = $(this).data("id");
            bootbox.confirm("Are you sure you want to delete this user ?",
                function(result) {
                    if (result) {
                        $.post("@Url.Action("ToggleBlockUser", "User")",
                            { UserId: id },
                            function(resp) {
                                window.location.reload();
                            });
                    }
                });
        });
    </script>
}*@